div.group-ct-plus-properties {
float: right;
margin: 0;
}

div.group-ct-plus-properties-big {
float: right;
margin: 0;
}

img.filefield-icon {
float: left;
}

fieldset.group-ct-plus-properties div.form-item {
max-width: 150px;
float: left;
margin-right: .5em;
}

fieldset.group-ct-plus-properties-big fieldset, fieldset.group-ct-plus-properties-big div.form-item {
max-width: 200px;
float: left;
margin-right: .5em;
}


#comment-form div.column-main {
width: 100%;
}

#comment-form div.column-side {
width: 0%;
display: none;
}

#comment-form div.column-footer {
display: none;
}

#driven_node_container div.buttons {
display: none;
}

#edit-field-ct-plus-progress-0-value {
width: 3em;
}
